body {
  background-color: #707070;
  font-family: Roboto;
}
.information,
.about,
.skills,
.portfolio,
.contact {
  margin: auto;
  border: 3px;
  padding-left: 150px; /* this centres my text*/
  font-size: 50px;
  color: white;
}
.navigation {
  height: 100%;
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar*/
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white;
  padding-top: 20px;
}

.home-top {
  display: flex;
  margin-left: 8%;
}

.bottomgroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 290%;
  margin-left: 8%;
}
.home {
  max-width: 100%;
  height: 60px;
  padding-left: 10%;
}
.about {
  padding-bottom: 10%;
  max-width: 100%;
  height: 60px;
  padding-left: 10%;
}
.skills {
  padding-top: 10%;
  max-width: 100%;
  height: 60px;
  padding-left: 10%;
}
.portfolio {
  padding-top: 30%;
  max-width: 100%;
  height: 60px;
  padding-left: 10%;
}
.contact {
  padding-top: 30%;
  max-width: 100%;
  height: 60px;
  padding-left: 10%;
}

.simp {
  max-width: 100%;
  height: 350px;
  position: absolute;
  left: 10%;
}

.dos {
  max-width: 100%;
  height: 350px;
  position: absolute;
  right: 10%;
}
